.home-element{
   margin-top: 130px;
}


.home-page{
display: flex;
position: relative;
height: 56px;
justify-content: space-between;
margin:48px 80px 48px 80px; 
}

@media only screen and (max-width: 420px) and (min-width: 305px){
   .home-element{
      width: 420px;
      margin-top: 120px;
     
   }
   .home-page{
      gap: 34px;
    flex-direction: column;
    margin: 0 0 0 16px;
   } 
}